<a href="https://colab.research.google.com/github/Silpa33771/Machine-Learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age

ages.sort()
min_age = ages[0]
max_age = ages[-1]

print(f"Sorted ages: {ages}")
print(f"Min age: {min_age}")
print(f"Max age: {max_age}")

# Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)

print(f"Ages after adding min and max again: {ages}")

# Find the median age
ages.sort()
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]

print(f"Median age: {median_age}")

# Find the average age
average_age = sum(ages) / n

print(f"Average age: {average_age}")

# Find the range of the ages
age_range = max_age - min_age

print(f"Age range: {age_range}")

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Age range: 7

In [6]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Bunny'
dog['color'] = 'White'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 4

print("Dog dictionary:", dog)

# Create a student dictionary and add various properties
student = {
    'first_name': 'Silpa',
    'last_name': 'Maddineni',
    'gender': 'Female',
    'age': 23,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'Dallas',
    'address': 'Dallas motham Manadhe'
}

print("Student dictionary:", student)

# Get the length of the student dictionary
student_length = len(student)
print("Length of student dictionary:", student_length)

# Get the value of skills and check the data type
skills = student['skills']
print("Skills:", skills)
print("Data type of skills:", type(skills))

# Modify the skills values by adding one or two skills
student['skills'].append('C++')
student['skills'].append('SQL')
print("Updated skills:", student['skills'])

# Get the dictionary keys as a list
student_keys = list(student.keys())
print("Student dictionary keys:", student_keys)

# Get the dictionary values as a list
student_values = list(student.values())
print("Student dictionary values:", student_values)

Dog dictionary: {'name': 'Bunny', 'color': 'White', 'breed': 'Labrador', 'legs': 4, 'age': 4}
Student dictionary: {'first_name': 'Silpa', 'last_name': 'Maddineni', 'gender': 'Female', 'age': 23, 'marital_status': 'Single', 'skills': ['Python', 'Java'], 'country': 'USA', 'city': 'Dallas', 'address': 'Dallas motham Manadhe'}
Length of student dictionary: 9
Skills: ['Python', 'Java']
Data type of skills: <class 'list'>
Updated skills: ['Python', 'Java', 'C++', 'SQL']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['Silpa', 'Maddineni', 'Female', 23, 'Single', ['Python', 'Java', 'C++', 'SQL'], 'USA', 'Dallas', 'Dallas motham Manadhe']

In [8]:
# Tuples of imaginary siblings
sisters = ('Meghana', 'Divya', 'Sidhi')
brothers = ('Navadeep', 'Nani', 'Jagadeesh','sidhu')

# Join the tuples
siblings = sisters + brothers
print("Siblings:", siblings)

# Count the number of siblings
number_of_siblings = len(siblings)
print("Number of siblings:", number_of_siblings)

# Add parents to the siblings tuple to form family_members
parents = ('Father', 'Padmalatha')
family_members = siblings + parents
print("Family members:", family_members)

Siblings: ('Meghana', 'Divya', 'Sidhi', 'Navadeep', 'Nani', 'Jagadeesh', 'sidhu')
Number of siblings: 7
Family members: ('Meghana', 'Divya', 'Sidhi', 'Navadeep', 'Nani', 'Jagadeesh', 'sidhu', 'Father', 'Padmalatha')

In [9]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Find the length of the set it_companies
length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding Twitter:", it_companies)

# Insert multiple IT companies at once to the set it_companies
it_companies.update({'Tmobile', 'Dell', 'Accenture'})
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('IBM')  # Remove IBM as an example
print("it_companies after removing IBM:", it_companies)

# Difference between remove and discard
# remove raises an error if the item is not found, discard does not
# it_companies.remove('NonExistentCompany')  # This would raise a KeyError
it_companies.discard('NonExistentCompany')  # This will not raise an error

# Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A_union_B = A.union(B)
print("A union B:", A_union_B)

# Find A intersection B
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)

# Is A a subset of B
is_A_subset_B = A.issubset(B)
print("Is A a subset of B:", is_A_subset_B)

# Are A and B disjoint sets
are_A_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_A_B_disjoint)

# Join A with B and B with A
A.update(B)
print("A after joining with B:", A)

# Reset A and B for the next operation
A = {19, 22, 24, 20, 25, 26}
B.update(A)
print("B after joining with A:", B)

# What is the symmetric difference between A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)

# Delete the sets completely
del A
del B


# Convert the ages list to a set and compare the length of the list and the set
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it_companies: 7
it_companies after adding Twitter: {'Microsoft', 'Amazon', 'Apple', 'Google', 'Twitter', 'IBM', 'Facebook', 'Oracle'}
it_companies after adding multiple companies: {'Microsoft', 'Amazon', 'Apple', 'Google', 'Dell', 'IBM', 'Tmobile', 'Accenture', 'Twitter', 'Facebook', 'Oracle'}
it_companies after removing IBM: {'Microsoft', 'Amazon', 'Apple', 'Google', 'Dell', 'Tmobile', 'Accenture', 'Twitter', 'Facebook', 'Oracle'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A a subset of B: True
Are A and B disjoint sets: False
A after joining with B: {19, 20, 22, 24, 25, 26, 27, 28}
B after joining with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

In [11]:
import math

# Given radius
radius = 30
area_of_circle = math.pi * radius ** 2
circum_of_circle = 2 * math.pi * radius

print(f"Area of circle: {area_of_circle}")
print(f"Circumference of circle: {circum_of_circle}")

# Taking radius as user input
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * user_radius ** 2

print(f"Area of circle with radius {user_radius}: {user_area_of_circle}")

Area of circle: 2827.4333882308138
Circumference of circle: 188.49555921538757
Enter the radius of the circle: 2
Area of circle with radius 2.0: 12.566370614359172

In [12]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
number_of_unique_words = len(unique_words)

print("Number of unique words:", number_of_unique_words)
print("Unique words:", unique_words)

Number of unique words: 10
Unique words: {'am', 'I', 'to', 'and', 'inspire', 'a', 'love', 'teacher', 'teach', 'people'}

In [13]:
print("Name\t\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [14]:
radius = 10
area = 3.14 * radius ** 2

output = f"The area of a circle with radius {radius} is {area} meters square."
print(output)

The area of a circle with radius 10 is 314.0 meters square.

In [15]:
def lbs_to_kgs(weight_lbs):
    return round(weight_lbs * 0.45359237, 2)

N = int(input("Enter the number of students: "))

weights_lbs = []
for i in range(N):
    weight = float(input(f"Enter weight of student {i+1} in lbs: "))
    weights_lbs.append(weight)

weights_kgs = []
for weight in weights_lbs:
    weights_kgs.append(lbs_to_kgs(weight))


print("Weights in lbs:", weights_lbs)
print("Weights in kgs:", weights_kgs)

Enter the number of students: 4
Enter weight of student 1 in lbs: 1
Enter weight of student 2 in lbs: 2
Enter weight of student 3 in lbs: 3
Enter weight of student 4 in lbs: 4
Weights in lbs: [1.0, 2.0, 3.0, 4.0]
Weights in kgs: [0.45, 0.91, 1.36, 1.81]